@model IEnumerable<electo.Models.campaign>
    @{
        ViewBag.Title = "MyCampaigns";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>My Campaigns</h2>
    <div class="box running-campaigns">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><img src="~/images/arrow.jpg" width="27" height="34"></th>
                    <th>
                        Campaign Name
                    </th>
                    <th>
                        Election Type
                    </th>
                    <th>
                        Creation Date
                    </th>
                    <th>
                        Election Month / Year
                    </th>					 
                    <th>
                        Status
                    </th>
					<th>
						Volunteer Positions
					</th>
                    <th>
                        Assign Volunteers
                    </th>

                </tr>
            </thead>
            <tbody>
                @{    int i = 0; }
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@(i += 1)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.campaignName)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.electionType.electionTypeNAME)
                        <td>
                            @item.dataIsCreated.ToString("dd/mm/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.electionName.electionYear) / @Html.DisplayFor(modelItem => item.electionName.monthName.monthName1)

                        </td>						
                        <td>
                            @Html.DisplayFor(modelItem => item.isActive)
                        </td>
						<td>
							<a class="btn btn-2 btn-defaul" href="@Url.Action("PresentRelationships", "RunningCampaign", new { cmpID = item.campaignID})">View</a>
						</td>
                        <td>
                            <a class="btn btn-2 btn-defaul" href="@Url.Action("AssignVolunteers", "RunningCampaign", new { cmpID = item.campaignID})">Click</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

