@using electo.Models;

<!DOCTYPE html>
@{
    var loginID = BaseUtil.GetSessionValue(AdminInfo.LoginID.ToString());
    var pic = BaseUtil.GetSessionValue(AdminInfo.userPhoto.ToString());
    var userType = Convert.ToInt64(BaseUtil.GetSessionValue(AdminInfo.userType.ToString()));
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
	<link href="~/css/custom-2.css" rel="stylesheet" />
    <link href="~/Content/base/jquery.ui.all.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootbox.min.js"></script>
    <script src="~/Scripts/nicEdit-latest.js"></script>
   
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo-icon">
                <a href="@Url.Action("dashboard","dashboard")" title="">
                    <i class="icon-l"><img src="~/images/logo-icon.png" alt=""></i>
                    <img src="~/images/logo.png" alt="" class="main-logo" />
                </a>
            </div>
            <ul class="sidebar-menu">
                <li>
                    <a href="@Url.Action("UpdateProfile", "Account", new { loginID = loginID })" title="">
                        <i class="icon-l"><img src="~/images/dhasbord-icon1.png" alt=""></i>
                        <p>My Account</p>
                    </a>
                </li>
               
            </ul>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <ul>
                        @{ if (userType == 1 || userType == 3)
                            {
                                <li><a href="@Url.Action("RunningCampaigns", "RunningCampaign")">Running Campaigns</a></li>
                                <li><a href="@Url.Action("Elections", "Election")">Upcoming Elections</a></li>
                                <li><a href="@Url.Action("Enquiries", "Enquiries")">New Enquiries</a></li>
                                <li><a href="@Url.Action("RunningCampaigns", "RunningCampaign")">New Campaign Requests</a></li>
                                <li><a href="@Url.Action("Index", "Area")">Manage Master Records</a></li>
                                <li><a href="#">Reports</a></li>
                            }
                            if (userType == 4)
                            {
                                
								<li><a href="@Url.Action("MyCampaigns","RunningCampaign")">My Campaign</a></li>
                                <li><a href="@Url.Action("Index", "CampaignActivity")">Volunteer Corner </a></li>
                                <li><a href="@Url.Action("Index", "survey")">Survey </a></li>
                                <li><a href="#">Reports</a></li>
                            }
                        }

                    </ul>
                    <div class="top-right">
                        <div class="right-search">
                            <a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="content right-menu-over">
                <div class="right-menu">
                    <ul>
                        @{ if (userType == 1 || userType == 3)
                            {
                               
                                <li><a href="@Url.Action("Index", "Biography_s")">Biography's </a></li>
                                @*<li><a href="@Url.Action("CampaignPriceList", "RunningCampaign")">Campaign Prices</a></li>*@
                                <li><a href="@Url.Action("Index", "District")">Districts</a></li>
                                <li><a href="@Url.Action("Elections", "Election")">Elections</a></li>
                                <li><a href="@Url.Action("Index", "EventType")">Event Types</a></li>
                                <li><a href="@Url.Action("Index", "LokSabha")">Lok Sabha</a></li>
                                <li><a href="@Url.Action("Index", "language")">Language </a></li>
                                <li><a href="@Url.Action("Index", "MuncipalCorporation")">Muncipal Corporation</a></li>
                                <li><a href="@Url.Action("SearchVolunteerUser", "Account")">New Volunteer </a></li>
                                <li><a href="@Url.Action("create", "News")">News </a></li>
                                <li><a href="@Url.Action("Index", "politicalpartiesbystate")">Political Parties</a></li>
                                <li><a href="@Url.Action("Index", "pollingbooth")">Polling Booth</a></li>
                                <li><a href="@Url.Action("Index", "questiontype")">Question Type</a></li>
                                <li><a href="@Url.Action("Index", "Account")">Registered Users</a></li>
                                <li><a href="@Url.Action("Index", "Area")">Sections</a></li>
                                <li><a href="@Url.Action("Index", "State")">States</a></li>
                                <li><a href="@Url.Action("Index", "VidhanSabha")">Vidhan Sabha</a></li>
                                <li><a href="@Url.Action("Index", "voterList")">Voter List </a></li>
                                <li><a href="@Url.Action("Index", "Ward")">Ward </a></li>
                                <li><a href="@Url.Action("Index", "zone")">Zone </a></li>  
                            }
                           
                        }
                    </ul>
                </div>

                @{  if (userType == 4)
                    {
                        <div class="col-md-9 box-2 running-campaigns sidebar-right">
                           <span><b>Election Type :</b> </span><span>@BaseUtil.GetSessionValue(AdminInfo.electionType.ToString())  |  </span>  <span><b>Campaign Name :</b> </span><span class="active">@BaseUtil.GetSessionValue(AdminInfo.campaign.ToString()) </span>
                        </div>
                    }
                }
                @RenderBody()
            </div>

        </div>
    </div>
    <i id="loading" style="display: none;" />
    @RenderSection("scripts", required: false)

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script>

        $('.logo-icon').on('click', function (e) {
            $('body').toggleClass("active");
        });
    </script>
    <script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
  //]]>
    </script>
</body>
</html>
